@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #212121;
    margin: 0;
    position: relative;
}

/* Mobile First */

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    padding-top: 5vh;
}

.hori {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.hori > * {
    max-width: 80vw;
    flex: 1 100%;
}

.main-logo {
    max-width:50vw;
    height: 30vw;
}

form {
    background-color: #f28a37;
    width: 400px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

::placeholder {
    color: #212121;
    opacity: 0.7;
}

button {
    all: unset;
    cursor: pointer;
    width: 45px;
    height: 45px;
}

.searchbuttons {
    color: #fff;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
}

.atoz {
    background-color: #f28a37;
    border-radius: 5px;
    max-width: 30vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.atoz > button {
    padding: 1vw;
    text-align: center;
}
 /* tag related css */

.tags {
    display: flex;
    flex-direction: column;
    background-color: #c0ff33;
    margin-inline: 10vw;
}

.tag-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 24px;
}

.tag {
    font-size: 16px;
}

 /* card related css */

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.v-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.card-layout {
    height: 100%;
    width: 100%;
}

.h-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.main-card {
    height: 75%;
    width: 100%;
}

.card {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    background-color: #c0ff33;
    margin-bottom:2vw;
}

.card-text {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid red;
}

.text-rows {
    width: 50%;
}

.description {
    width: auto;
    height: 100%;
    overflow-y: scroll;
}

.card-img {
    height: auto;
    width: 100%;
}

.card-img-wrapper {
    height:auto;
    width: 50%;
}

span {
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 16px;
}

/* larger mobile devices/tablets */

@media all and (min-width: 768px)  {
    .card-img {
        height: 100%;
        width: 100%;
    }

    .hori > .atoz {
        flex: 1;
        max-width: 60vw;
        margin: 2vw;
    }

    .hori > form {
        flex: 4;
        max-width: 60vw;
        margin: 2vw;
    }

    .hori > .card {
        max-width: 30vw;
        max-height: 20vw;
        flex: 1 100%;
    }

    span {
        font-size: 24px;
        font-weight: bold;
        margin-top: 1vw;
    }
}

/* full size computer screens */

@media all and (min-width: 1024px)  {


}

/*.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    padding-top: 5vh;
}

form {
    background-color: #f28a37;
    width: 400px;
    height: 45px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

::placeholder {
    color: #212121;
    opacity: 0.7;
}

button {
    all: unset;
    cursor: pointer;
    width: 45px;
    height: 45px;
}

.searchbuttons {
    color: #fff;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
}

}
.tags {
    display: flex;
    flex-direction: column;

}


.atoz {
    background-color: #f28a37;
    width: auto;
    height: 32px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.atoz > button {
    padding: 1vw;
    text-align: center;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.v-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.h-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width:10vw;
}
.card {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    height: 20vw;
    width: 30vw;
    border: 3px solid;
}
.card > a > img {
    height:auto;
    width: 100%;
    max-width: 50%;
}
span {
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 16px;
}

@media all and (max-width: 768px)  {
    .hori > * {
        flex: 1 55%;
    }
}
*/
